.DS_Store

build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

Pods/
Carthage/Build/

fastlane/report.xml
fastlane/screenshots/**/*.png
